### Epic 1 - Iteration 1 - User story - 1.4

In [1]:
import re
import pandas as pd
import numpy as np

In [2]:
"""
Read the appliance data files 
"""
# Appliance 1 - Air Conditioner
air_conditioner_df_original = pd.read_csv('ac_2022_08_28.csv', low_memory = False)
# Appliance 2 - Clothes dryer
clothes_dryer_df_original = pd.read_csv('cd_2022_08_28.csv')
# Appliance 3 - Dishwasher
dishwasher_df_original = pd.read_csv('dw_2022_08_28.csv')
# Appliance 4 - Clothes Washer
clotheswasher_df_original = pd.read_csv('cw_2022_08_28.csv')
# Appliance 5 - Refrigerator
refrigerator_df_original = pd.read_csv('rf_2022_08_29.csv')
# Appliance 6 - Television
television_df_original = pd.read_csv('tv_2022_08_29.csv')
# Appliance 7 - Computer monitors
computer_df_original = pd.read_csv('mo_2022_08_29.csv')

In [3]:
air_conditioner_df_original.columns

Index(['ApplStandard', 'MEPSComp', 'N-Standard', 'Model_No', 'Family Name',
       'avg_pwr_standby_mode', 'Brand', 'C-Dehumid_Rated', 'Configuration1',
       'Configuration2',
       ...
       'Have_water_tank', 'Rated cool power input with water',
       'Rated cool cap with water W', 'Rated cool cap with water kW',
       'Residential tcec_cold with water', 'Residential tcec_mixed with water',
       'Residential tcec_hot with water', 'PIA inoperative power',
       'Rated AEER', 'Rated ACOP'],
      dtype='object', length=167)

**Data cleaning and wrangling steps**

**1. Air conditioner**

In [4]:
"""
Columns needed for air-conditioner - Model_No, Brand, Country,Sold_in, Type, EER  - Energy Rating
""" 
air_conditioner_df_original.columns

Index(['ApplStandard', 'MEPSComp', 'N-Standard', 'Model_No', 'Family Name',
       'avg_pwr_standby_mode', 'Brand', 'C-Dehumid_Rated', 'Configuration1',
       'Configuration2',
       ...
       'Have_water_tank', 'Rated cool power input with water',
       'Rated cool cap with water W', 'Rated cool cap with water kW',
       'Residential tcec_cold with water', 'Residential tcec_mixed with water',
       'Residential tcec_hot with water', 'PIA inoperative power',
       'Rated AEER', 'Rated ACOP'],
      dtype='object', length=167)

In [5]:
# Extracting only the required columns
air_conditioner_df = air_conditioner_df_original[['Model_No', 'Brand', 'Country', 'Sold_in', 'Type', 'EER',
                                                 'Rated heating power input kW', 'Rated cooling power input kW' ]]
air_conditioner_df.columns

Index(['Model_No', 'Brand', 'Country', 'Sold_in', 'Type', 'EER',
       'Rated heating power input kW', 'Rated cooling power input kW'],
      dtype='object')

In [6]:
# Displaying the columns that contains null values
air_conditioner_df.loc[:, air_conditioner_df.isnull().any()]

                         Sold_in     EER
0     Australia,Fiji,New Zealand  2.7800
1                    New Zealand  3.1210
2                    New Zealand  3.1620
3                    New Zealand  3.4330
4                    New Zealand  3.1300
...                          ...     ...
5425       Australia,New Zealand     NaN
5426       Australia,New Zealand     NaN
5427       Australia,New Zealand     NaN
5428       Australia,New Zealand     NaN
5429  Australia,Fiji,New Zealand  3.7059

[5430 rows x 2 columns]

**2. Clothes dryer**

In [7]:
"""
Columns needed for clothes dryer - Brand,  Country, Model No, New Star, Sold_in, Type, New CEC
"""
clothes_dryer_df_original.columns

Index(['ApplStandard', 'Brand', 'Cap', 'Combination', 'Control', 'Country',
       'Depth', 'Height', 'Model No', 'Family Name', 'N-Standard', 'New CEC',
       'New SRI', 'New Star', 'Prog Name', 'Prog Time', 'Sold_in',
       'SubmitStatus', 'Submit_ID', 'Test_Moist_Remove', 'Tot_Wat_Cons',
       'Type', 'Width', 'ExpDate', 'GrandDate', 'Product Class',
       'Availability Status', 'Product Website', 'Representative Brand URL',
       'Star Rating (old)', 'Star Image Large', 'Star Image Small'],
      dtype='object')

In [8]:
# Extracting only the required columns
clothes_dryer_df = clothes_dryer_df_original[['Brand', 'Country', 'Model No', 'New Star', 'Sold_in', 
                                              'Type', 'New CEC']]
clothes_dryer_df.columns

Index(['Brand', 'Country', 'Model No', 'New Star', 'Sold_in', 'Type',
       'New CEC'],
      dtype='object')

In [9]:
# Displaying the columns that contains null values
clothes_dryer_df.loc[:, clothes_dryer_df.isnull().any()]

            Country                     Sold_in
0               NaN                 New Zealand
1               NaN                 New Zealand
2               NaN                 New Zealand
3    United Kingdom                 New Zealand
4    United Kingdom                 New Zealand
..              ...                         ...
622           China  Australia,Fiji,New Zealand
623           China  Australia,Fiji,New Zealand
624           China  Australia,Fiji,New Zealand
625          Turkey  Australia,Fiji,New Zealand
626           China  Australia,Fiji,New Zealand

[627 rows x 2 columns]

**3. Dishwasher**

In [10]:
"""
Columns to be selected - Brand, Country, Model No, New Star, Sold_in, Type, CEC_
"""
dishwasher_df_original.columns

Index(['ApplStandard', 'Brand', 'Cap', 'CEC_', 'Conn_Type', 'Country',
       'delayStartMode', 'Depth', 'Height', 'Load_Type', 'Model No',
       'Family Name', 'N-Standard', 'New SRI', 'New Star', 'postProgenergy',
       'powerConsMode', 'Prog Name', 'Prog Time', 'Sold_in',
       'standbyPowerUsage', 'Submit_ID', 'SubmitStatus', 'Tot Wat Cons',
       'Type', 'Water_Softener', 'Width', 'ExpDate', 'GrandDate',
       'Product Class', 'Availability Status', 'Product Website',
       'Representative Brand URL', 'Water Consumption (litres)',
       'Star Rating (old)', 'Star Image Large', 'Star Image Small'],
      dtype='object')

In [11]:
# Extracting only the required columns
dishwasher_df = dishwasher_df_original[['Brand', 'Country', 'Model No', 'New Star','Sold_in', 'Type', 'CEC_']]
dishwasher_df.columns

Index(['Brand', 'Country', 'Model No', 'New Star', 'Sold_in', 'Type', 'CEC_'], dtype='object')

In [12]:
# Displaying the columns that contains null values
dishwasher_df.loc[:, dishwasher_df.isnull().any()]

       Model No                     Sold_in
0       TD6W-F1                 New Zealand
1       TD6S-F1                 New Zealand
2       TD6W-F1                 New Zealand
3       TD6S-F1                 New Zealand
4       TD6W-F1                 New Zealand
...         ...                         ...
1659    LFC2C19       Australia,New Zealand
1660   LFC2C19B       Australia,New Zealand
1661   LFC2C19X       Australia,New Zealand
1662  AK-DW12PB  Australia,Fiji,New Zealand
1663    OFI101X       Australia,New Zealand

[1664 rows x 2 columns]

**4. Clothes washer**

In [13]:
"""
Columns to be selected - Brand, Country, Sold_in, Type, Model No, New Star, CEC Cold, CEC_
"""

clotheswasher_df_original.columns

Index(['ApplStandard', 'Brand', 'Cap', 'Cap (Second Drum)', 'CEC Cold',
       'CEC Cold (Second Drum)', 'CEC_', 'CEC_ (Second Drum)', 'Cold Prog',
       'Cold Prog (Second Drum)', 'Cold Wat Cons',
       'Cold Wat Cons (Second Drum)', 'Combination',
       'Combination (Second Drum)', 'Conn_Mode', 'Conn_Mode (Second Drum)',
       'Country', 'delayStartMode', 'delayStartMode (Second Drum)', 'Depth',
       'Depth (Second Drum)', 'DetergentType', 'DetergentType (Second Drum)',
       'Height', 'Height (Second Drum)', 'Hot Wat Cons',
       'Hot Wat Cons (Second Drum)', 'internal_heater',
       'internal_heater (Second Drum)', 'Loading', 'Loading (Second Drum)',
       'MachineAction', 'MachineAction (Second Drum)', 'Model No',
       'Family Name', 'N-Standard', 'New SRI', 'New SRI (Second Drum)',
       'New Star', 'New Star (Second Drum)', 'postProgenergy',
       'postProgenergy (Second Drum)', 'powerConsMode',
       'powerConsMode (Second Drum)', 'Prog Name', 'Prog Name (Second Drum)',
       'Sold_in', 'standbyPowerUsage', 'standbyPowerUsage (Second Drum)',
       'Submit_ID', 'SubmitStatus', 'Test Prog Time',
       'Test Prog Time (Second Drum)', 'Tot Wat Cons',
       'Tot Wat Cons (Second Drum)', 'Type', 'Type (Second Drum)', 'WEI',
       'WEI (Second Drum)', 'Width', 'Width (Second Drum)', 'ExpDate',
       'GrandDate', 'Product Class', 'Availability Status', 'Product Website',
       'Representative Brand URL', 'Program Time',
       'Program Time (Second Drum)', 'Hot Water (L)',
       'Hot Water (L) (Second Drum)', 'Cold Water (L)',
       'Cold Water (L) (Second Drum)', 'Star Rating (old)', 'Star Image Large',
       'Star Image Large (Second Drum)', 'Star Image Small',
       'Star Image Small (Second Drum)', 'Registration Number'],
      dtype='object')

In [14]:
# Extracting only the required columns
clotheswasher_df = clotheswasher_df_original[['Brand', 'Country', 'Sold_in', 'Type', 'Model No', 'New Star',
                                             'CEC Cold', 'CEC_']]
clotheswasher_df.columns

Index(['Brand', 'Country', 'Sold_in', 'Type', 'Model No', 'New Star',
       'CEC Cold', 'CEC_'],
      dtype='object')

In [15]:
# Displaying the columns that contains null values
clotheswasher_df.loc[:, clotheswasher_df.isnull().any()]

                         Sold_in
0                    New Zealand
1                    New Zealand
2                    New Zealand
3                    New Zealand
4                    New Zealand
...                          ...
1130  Australia,Fiji,New Zealand
1131  Australia,Fiji,New Zealand
1132  Australia,Fiji,New Zealand
1133  Australia,Fiji,New Zealand
1134  Australia,Fiji,New Zealand

[1135 rows x 1 columns]

**5. Refrigerator**

In [16]:
"""
Columns to be used - Brand,  Country, Model No, Type,  Star2009, Sold_in, CEC_
"""
refrigerator_df_original.columns

Index(['Adaptive Defrost', 'ApplStandard', 'Brand', 'CEC_', 'CompartGrVol',
       'CompartNetVol', 'CompartType', 'Configuration', 'Country', 'Depth',
       'Designation', 'FF Vol', 'FZ Vol', 'Group', 'Height', 'Icemaker',
       'MEPSApproval', 'Model No', 'Family Name', 'N-Standard', 'Star2009',
       'SRI2009', 'No_Doors', 'S-MEPS_Ad', 'S-MEPScutoff', 'Sold_in',
       'Submit_ID', 'SubmitStatus', 'Tot Vol', 'Width', 'ExpDate', 'GrandDate',
       'Product Class', 'Availability Status', 'Product Website',
       'Representative Brand URL', 'Fixed MEPS allowance factor',
       'Variable MEPS allowance factor', 'Adjusted volume', 'Type',
       'Star Rating (old)', 'Star Image Large', 'Star Image Small',
       'Registration Number'],
      dtype='object')

In [17]:
# Extracting only the required columns
refrigerator_df = refrigerator_df_original[['Brand', 'Country', 'Model No', 'Type', 'Star2009', 
                                            'Sold_in', 'CEC_']]
refrigerator_df.columns

Index(['Brand', 'Country', 'Model No', 'Type', 'Star2009', 'Sold_in', 'CEC_'], dtype='object')

In [18]:
# Displaying the columns that contains null values
refrigerator_df.loc[:, refrigerator_df.isnull().any()]

          Country        Model No                     Sold_in
0           China           FAU80                 New Zealand
1           China           FAU50                 New Zealand
2          Greece       KAKGU4001                 New Zealand
3          Greece        KGU40121                 New Zealand
4          Greece       KAKGU4001       Australia,New Zealand
...           ...             ...                         ...
5222        China  ED-RFFD473SS.2                 New Zealand
5223  South Korea       SRLX4100N  Australia,Fiji,New Zealand
5224        China         PLA1355                        Fiji
5225        China         PLA1710                 New Zealand
5226        China       AK-688-CF  Australia,Fiji,New Zealand

[5227 rows x 3 columns]

**6. Television**

In [19]:
"""
Columns to be used - Brand_Reg, Model No, SoldIn, Country,  Screen_Tech, Star2, CEC 
"""
television_df_original.columns

Index(['Submit_ID', 'Brand_Reg', 'Model_No', 'Family Name', 'SoldIn',
       'Country', 'screensize', 'Screen_Area', 'Screen_Tech',
       'Pasv_stnd_power', 'Act_stnd_power', 'Act_stnd_time', 'Avg_mode_power',
       'Star', 'SRI', 'CEC', 'SubmitStatus', 'ExpDate', 'GrandDate',
       'Product Class', 'Availability Status', 'Star2', 'Product Website',
       'Representative Brand URL', 'Star Rating Index', 'Star Image Large',
       'Star Image Small', 'Power supply', 'Tuner Type',
       'What test standard was used', 'Registration Number'],
      dtype='object')

In [20]:
# Extracting only the required columns
television_df = television_df_original[['Brand_Reg', 'Model_No', 'SoldIn', 'Country','Screen_Tech', 'Star2', 'CEC']]
television_df.columns

Index(['Brand_Reg', 'Model_No', 'SoldIn', 'Country', 'Screen_Tech', 'Star2',
       'CEC'],
      dtype='object')

In [21]:
# Displaying the columns that contains null values
television_df.loc[:, television_df.isnull().any()]

          Model_No                 SoldIn
0             32D6  Australia,New Zealand
1       LCDV1500DT            New Zealand
2       LEDV2205DT            New Zealand
3       LEDV1905DT            New Zealand
4       LEDV2405DT            New Zealand
...            ...                    ...
4016       55X8HAU  Australia,New Zealand
4017       65X9HAU  Australia,New Zealand
4018       98U7HAU  Australia,New Zealand
4019       98U7HNZ  Australia,New Zealand
4020  98U7H series  Australia,New Zealand

[4021 rows x 2 columns]

**7. Computer Monitors**

In [22]:
"""
Columns to be used - Brand Name, Model Number, Manufacturing Countries,  Star Rating, Selling Countries,
Screen Technology, Comparative Energy Consumption
"""
computer_df_original.columns

Index(['Record ID', 'Status', 'Brand Name', 'Model Number', 'Family Name',
       'Selling Countries', 'Manufacturing Countries', 'Screen Size',
       'Screen Technology', 'Comparative Energy Consumption',
       'Active Standby Power', 'Star Rating Index', 'Star Rating',
       'Product Website', 'Representative Brand URL', 'Availability Status',
       'Expiry Date', 'Star Image Large', 'Star Image Small'],
      dtype='object')

In [23]:
# Extracting only the required columns
computer_df = computer_df_original[['Brand Name', 'Model Number', 'Manufacturing Countries', 'Star Rating',
                                    'Selling Countries', 'Screen Technology', 'Comparative Energy Consumption']]
computer_df.columns

Index(['Brand Name', 'Model Number', 'Manufacturing Countries', 'Star Rating',
       'Selling Countries', 'Screen Technology',
       'Comparative Energy Consumption'],
      dtype='object')

In [24]:
# Displaying the columns that contains null values
computer_df.loc[:, computer_df.isnull().any()]

               Selling Countries
0          Australia,New Zealand
1          Australia,New Zealand
2          Australia,New Zealand
3     Australia,Fiji,New Zealand
4          Australia,New Zealand
...                          ...
2546  Australia,Fiji,New Zealand
2547  Australia,Fiji,New Zealand
2548  Australia,Fiji,New Zealand
2549  Australia,Fiji,New Zealand
2550       Australia,New Zealand

[2551 rows x 1 columns]

**Adding a new column for appliance category codes**

In [25]:
"""
A new column is created to maintain code for every appliance. 
This would help to identify the appliance once after merging all the individual dataframes.
"""
air_conditioner_df = air_conditioner_df.assign(Appliance_Category = 'AC')
clothes_dryer_df = clothes_dryer_df.assign(Appliance_Category = 'CD')
dishwasher_df = dishwasher_df.assign(Appliance_Category = 'DW')
clotheswasher_df = clotheswasher_df.assign(Appliance_Category = 'CW')
refrigerator_df = refrigerator_df.assign(Appliance_Category = 'RF')
television_df = television_df.assign(Appliance_Category = 'TV')
computer_df = computer_df.assign(Appliance_Category = 'CM')

In [26]:
air_conditioner_df.columns

Index(['Model_No', 'Brand', 'Country', 'Sold_in', 'Type', 'EER',
       'Rated heating power input kW', 'Rated cooling power input kW',
       'Appliance_Category'],
      dtype='object')

**Renaming the column names to manintain common standard**  
The cloumn names are  
Model_No, Manufacturing_Country, Selling_Countries, Energy_Rating, Type, Brand

In [27]:
# Renaming columns to maintain a standard format when combining all the appliance dataset

air_conditioner_df.rename({'Country' : 'Manufacturing_Country', 'Sold_in' : 'Selling_Countries', 
                           'EER' : 'Energy_Rating', 'Rated heating power input kW' : 'Heating Power KW',
                          'Rated cooling power input kW' : 'Cooling Power KW'}, axis = 1, inplace=True)

clothes_dryer_df.rename({'Model No' : 'Model_No','Country' : 'Manufacturing_Country', 
                         'Sold_in' : 'Selling_Countries', 'New CEC' : 'Energy_Consumption',
                           'New Star' : 'Energy_Rating'}, axis = 1, inplace=True)

dishwasher_df.rename({'Model No' : 'Model_No','Country' : 'Manufacturing_Country',
                      'Sold_in' : 'Selling_Countries', 'CEC_' : 'Energy_Consumption', 
                           'New Star' : 'Energy_Rating'}, axis = 1, inplace=True)

clotheswasher_df.rename({'Model No' : 'Model_No','Country' : 'Manufacturing_Country', 
                         'Sold_in' : 'Selling_Countries', 'CEC Cold' : 'Cold_Energy_Consumption', 
                           'New Star' : 'Energy_Rating', 'CEC_' : 'Heat_Energy_Consumption'}, axis = 1, inplace=True)

refrigerator_df.rename({'Model No' : 'Model_No','Country' : 'Manufacturing_Country', 
                        'Sold_in' : 'Selling_Countries', 'CEC_' : 'Energy_Consumption',
                           'Star2009' : 'Energy_Rating'}, axis = 1, inplace=True)

television_df.rename({'Brand_Reg' : 'Brand','Country' : 'Manufacturing_Country',
                      'SoldIn' : 'Selling_Countries', 'CEC' : 'Energy_Consumption',
                           'Star2' : 'Energy_Rating', 'Screen_Tech' : 'Type'}, axis = 1, inplace=True)

computer_df.rename({'Brand Name' : 'Brand','Model Number' : 'Model_No',
                    'Manufacturing Countries' : 'Manufacturing_Country', 
                    'Selling Countries' : 'Selling_Countries', 'Star Rating' : 'Energy_Rating', 
                    'Screen Technology' : 'Type','Comparative Energy Consumption': 'Energy_Consumption'}, 
                   axis = 1, inplace=True)

In [28]:
air_conditioner_df.head()

,Model_No,Brand,Manufacturing_Country,Selling_Countries,Type,Energy_Rating,Heating Power KW,Cooling Power KW,Appliance_Category
0,WZ-28,Air Conditioning Systems,China,"Australia,Fiji,New Zealand",Reverse Cycle,2.780,0.87,0.91,AC
1,MSZ-GE50VA,MITSUBISHI ELECTRIC,Thailand,New Zealand,Reverse Cycle,3.121,1.65,1.64,AC
2,MSZ-GE80VA,MITSUBISHI ELECTRIC,Thailand,New Zealand,Reverse Cycle,3.162,2.54,2.56,AC
3,MSZ-GE42VA,MITSUBISHI ELECTRIC,Thailand,New Zealand,Reverse Cycle,3.433,1.54,1.26,AC
4,PCA-RP71HA(Q) / PUHZ-RP71VHA5,MITSUBISHI ELECTRIC,Japan,New Zealand,Reverse Cycle,3.130,2.23,2.21,AC

In [29]:
clothes_dryer_df[clothes_dryer_df.duplicated(['Model_No'], keep=False)].head()

,Brand,Manufacturing_Country,Model_No,Energy_Rating,Selling_Countries,Type,Energy_Consumption,Appliance_Category
10,FISHER & PAYKEL,New Zealand,ED56,1.0,"Australia,New Zealand",Vented,227,CD
11,FISHER & PAYKEL,New Zealand,ED56,2.0,"Australia,New Zealand",Vented,202,CD
15,FISHER & PAYKEL,New Zealand,ED56,2.0,"Australia,New Zealand",Vented,202,CD
31,ASKO,Sweden,ASKO,2.0,New Zealand,Condenser,292,CD
35,ASKO,Sweden,ASKO,6.0,New Zealand,Condenser,164,CD

In [30]:
air_conditioner_df['Brand'].unique()

array(['Air Conditioning Systems', 'MITSUBISHI ELECTRIC',
       'Mitsubishi Electric', 'TOSHIBA', 'GREE', 'TEMPERZONE', 'CAA',
       'SPECIALIZED ENGINEERING', 'Brivis', 'Rinnai', 'HELLER',
       'ACTRON AIR', 'HITACHI', 'LENNOX', 'CHIGO', 'Clivet', 'TECO',
       'Aggreko', 'Diamond', 'MITSUBISHI HEAVY INDUSTRIES',
       'MITSUBISHI HEAVY INDUSTRIES LTD.', 'TCL', 'AIRTEMP', 'DAIKIN',
       'Tranquility', 'Climatemaster', 'Carrier', 'LG', 'Panasonic',
       'Braemar', 'Innova 2.0', 'Toshiba', 'Daewoo',
       'PIONEER INTERNATIONAL', 'SEIKI', 'Astivita', 'PANASONIC',
       'Domain', 'DIMPLEX', 'Haier', 'KELVINATOR', 'Ilec Appliances',
       'EUROMATIC', 'FUJITSU', 'APAC', 'RINNAI', 'Kogan', 'MDV', 'York',
       'MIDEA', 'AKAI', 'STIRLING', 'HISENSE', 'KADEN',
       'MITSUBISHI HEAVY INDUSTRIES, LTD.', 'IACS', 'SAMSUNG ELECTRONICS',
       'SUPEREN', 'POLARIS Technologies', 'ICE Solair', 'GALAXY AIR',
       'BONAIRE', 'PROMA', 'BRIVIS', 'Esatto', 'Scandia', 'YORK', 'SHARP',
       'Sygnal Ambient Intelligence', 'Coolmaster', 'Olimpia Splendid',
       'Omega Altise', 'Daikin', 'Devanti', 'FUJITSU GENERAL', 'SAI HVAC',
       "De'Longhi", 'Mammoth', 'iZone', 'AstiVita', 'Hyundai', 'Midea',
       'Goldair', 'MISTRAL', 'Click', 'Kaden', 'CAELI', 'HYUNDAI',
       'KOGAN', 'Arlec', 'Excelair', 'POLO', 'Shinco', 'carson', 'ONIX',
       'Yook', 'TRIPP. LITE', 'Prinetti', 'Solt', 'Inalto', 'Dimplex',
       'yokohama', 'Deye', 'HONEYWELL', 'Honeywell', 'AIRO', 'Germanica',
       'SAMSUNG', 'KAPSUL', 'Sheffield', 'Solar ACDC', 'ELECTROLUX',
       'AirSmart', 'CHiQ', 'VOSTOK', 'AURORA', 'TECOAIR', 'AIRSTAGE',
       'ewt', 'CLICK', 'EcoFlow', 'Airion', 'SmartUser'], dtype=object)

In [31]:
# Removing the '-' in Energy_Rating and Energy Consumption attributes
refrigerator_df = refrigerator_df[refrigerator_df['Energy_Rating'].str.contains('-')==False]
air_conditioner_df = air_conditioner_df[air_conditioner_df['Heating Power KW'].str.contains('-') == False]
air_conditioner_df = air_conditioner_df[air_conditioner_df['Cooling Power KW'].str.contains('-') == False]

In [32]:
def data_wrangling_process(df):
    """ 
    Drop all the null values. Because, in most of the cases the null values 
    appears in columns like selling countries, energy rating and even model_no. 
    It is hard to perform missing values imputation. Hence, the corresponding records are dropped.
    """
    df = df.dropna()
    
    # Dropping duplpicated values
    df = df.drop_duplicates(subset=['Model_No'])
    
    # Changing the case format for the Brand
    df['Brand'] = (df.apply(lambda x: x['Brand'].title(), axis=1))
    
    # Remove '*' from the Model_No, to remove duplicated values
    df['Model_No'] = df["Model_No"].apply(lambda x: re.sub(".*[*].*", 'dropvalues', x))
    
    # Drop the rows the contains dropvalues as the Model_No
    df.loc[df['Model_No'].str.contains('dropvalues')]
    df = df[~df.Model_No.str.contains('|'.join('dropvalues'))]
    
    # Convert the Energy_Rating datatype as float
    df['Energy_Rating'] = df.Energy_Rating.astype(float)
    
    # Extract the records that have Energy_Rating greater than 0
    df = df.loc[df['Energy_Rating'] > 0]
    
    return (df)

In [33]:
# Function call to data_wrangling_process()
air_conditioner_df = data_wrangling_process(air_conditioner_df)
clothes_dryer_df = data_wrangling_process(clothes_dryer_df)
dishwasher_df = data_wrangling_process(dishwasher_df)
clotheswasher_df = data_wrangling_process(clotheswasher_df)
refrigerator_df = data_wrangling_process(refrigerator_df)
television_df = data_wrangling_process(television_df)
computer_df = data_wrangling_process(computer_df)

**Merge all the appliance datasets to one**

In [34]:
# Columns to be merged 
columns = ['Brand', 'Model_No', 'Energy_Rating', 'Manufacturing_Country', 'Appliance_Category']

In [35]:
# Concatenating all the individual appliance dataset
concat_df = [air_conditioner_df[columns], clothes_dryer_df[columns], dishwasher_df[columns],
             clotheswasher_df[columns], refrigerator_df[columns], television_df[columns]]
all_appliance_df = pd.concat(concat_df)

In [36]:
# Displaying the combined dataset
all_appliance_df

,Brand,Model_No,Energy_Rating,Manufacturing_Country,Appliance_Category
0,Air Conditioning Systems,WZ-28,2.780,China,AC
1,Mitsubishi Electric,MSZ-GE50VA,3.121,Thailand,AC
2,Mitsubishi Electric,MSZ-GE80VA,3.162,Thailand,AC
3,Mitsubishi Electric,MSZ-GE42VA,3.433,Thailand,AC
4,Mitsubishi Electric,PCA-RP71HA(Q) / PUHZ-RP71VHA5,3.130,Japan,AC
...,...,...,...,...,...
4015,Hisense,65X8HAU,6.000,China,TV
4016,Hisense,55X8HAU,5.000,China,TV
4017,Hisense,65X9HAU,5.000,China,TV
4018,Hisense,98U7HAU,5.000,China,TV
4019,Hisense,98U7HNZ,5.000,China,TV

In [37]:
# Checking again if any null values present in the combined one
all_appliance_df.loc[:, all_appliance_df.isnull().any()]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, ...]

[12971 rows x 0 columns]

In [38]:
# Converting the all_appliances dataframe to a csv file
all_appliance_df.to_csv('all_appliances.csv', index=False)

## User Story 1.4 - Energy Efficient appliances based on Brand

In [39]:
AC_brand_df = air_conditioner_df[columns].sort_values('Energy_Rating', 
                                        ascending = False).drop_duplicates(
                                        subset=['Brand'],keep ='first').head(7)

In [40]:
CD_brand_df = clothes_dryer_df[columns].sort_values('Energy_Rating', 
                                        ascending = False).drop_duplicates(
                                        subset=['Brand'],keep ='first').head(7)

In [41]:
DW_brand_df = dishwasher_df[columns].sort_values('Energy_Rating', 
                                        ascending = False).drop_duplicates(
                                        subset=['Brand'],keep ='first').head(7)

In [42]:
CW_brand_df = clotheswasher_df[columns].sort_values('Energy_Rating', 
                                        ascending = False).drop_duplicates(
                                        subset=['Brand'],keep ='first').head(7)

In [43]:
RF_brand_df = refrigerator_df[columns].sort_values('Energy_Rating', 
                                        ascending = False).drop_duplicates(
                                        subset=['Brand'],keep ='first').head(7)

In [44]:
TV_brand_df = television_df[columns].sort_values('Energy_Rating', 
                                        ascending = False).drop_duplicates(
                                        subset=['Brand'],keep ='first').head(7)

In [45]:
concat_df1 = [AC_brand_df, CD_brand_df, DW_brand_df, CW_brand_df, RF_brand_df, TV_brand_df]
brand_df = pd.concat(concat_df1)

In [46]:
brand_df = brand_df[['Brand', 'Energy_Rating', 'Appliance_Category']]

In [47]:
# Converting all the top 7 brands to a csv file
brand_df.to_csv('appliance_brands.csv', index=False)

## Epic 3 - Energy Estimator data wrangling

In [48]:
clotheswasher_df = clotheswasher_df[-clotheswasher_df['Cold_Energy_Consumption'].str.contains('-')]

**Clothes Washer** Ratings range from 1 to 5   
**Low** - 1 to 2.5  
**Medium** - 2.5 to 4   
**Best** - 4 to 5

In [49]:
clotheswasher_df.columns

Index(['Brand', 'Manufacturing_Country', 'Selling_Countries', 'Type',
       'Model_No', 'Energy_Rating', 'Cold_Energy_Consumption',
       'Heat_Energy_Consumption', 'Appliance_Category'],
      dtype='object')

In [50]:
print('Maximum Energy Rating : ', clotheswasher_df.Energy_Rating.max())
print('Minimum Energy Rating : ', clotheswasher_df.Energy_Rating.min())

Maximum Energy Rating :  5.0
Minimum Energy Rating :  1.0

In [51]:
# Checking the data types for the dataframe 
clotheswasher_df.dtypes

Brand                       object
Manufacturing_Country       object
Selling_Countries           object
Type                        object
Model_No                    object
Energy_Rating              float64
Cold_Energy_Consumption     object
Heat_Energy_Consumption      int64
Appliance_Category          object
dtype: object

In [52]:
# Changing the datatype of Cold_Energy_Consumption from Object to Float
clotheswasher_df['Cold_Energy_Consumption'] = clotheswasher_df.Cold_Energy_Consumption.astype(float)

**Clothes Washer Above 4**

In [53]:
clotheswasher_df

,Brand,Manufacturing_Country,Selling_Countries,Type,Model_No,Energy_Rating,Cold_Energy_Consumption,Heat_Energy_Consumption,Appliance_Category
0,Haier,China,New Zealand,Non-Drum,XQJ50 31A,1.5,90.0,480,CW
1,Indesit,Italy,New Zealand,Drum,W93,3.5,230.0,240,CW
2,Indesit,Italy,New Zealand,Drum,WE12,3.5,266.0,277,CW
3,Indesit,Italy,New Zealand,Drum,WD11,3.0,133.0,327,CW
11,Fisher & Paykel,New Zealand,New Zealand,Non-Drum,MW612,2.0,62.0,509,CW
...,...,...,...,...,...,...,...,...,...
1108,Fisher & Paykel,Thailand,"Australia,New Zealand",Non-Drum,WA1068G1,4.0,105.0,350,CW
1109,Fisher & Paykel,Thailand,"Australia,New Zealand",Non-Drum,WA1068G2,4.0,105.0,350,CW
1114,Tisira,China,"Australia,Fiji,New Zealand",Non-Drum,MTC80-P1101PQ/AU9,1.5,0.0,662,CW
1119,Carson,China,Australia,Non-Drum,CSF7D3P,2.0,55.0,457,CW
1120,Carson,China,Australia,Non-Drum,CSF7G3P,2.0,55.0,457,CW

In [54]:
np.mean(clotheswasher_df.loc[clotheswasher_df['Energy_Rating'] >= 4]['Heat_Energy_Consumption'])

332.89473684210526

In [55]:
np.mean(clotheswasher_df.loc[clotheswasher_df['Energy_Rating'] >= 4]['Cold_Energy_Consumption'])

167.2982456140351

**Clothes Washer between 2.5 to 4**

In [56]:
np.mean(clotheswasher_df.loc[(clotheswasher_df['Energy_Rating'] >= 2.5) &
                             (clotheswasher_df['Energy_Rating'] < 4)]['Heat_Energy_Consumption'])

484.20238095238096

In [57]:
np.mean(clotheswasher_df.loc[(clotheswasher_df['Energy_Rating'] >= 2.5) &
                             (clotheswasher_df['Energy_Rating'] < 4)]['Heat_Energy_Consumption'])

484.20238095238096

**Clothes Washer below 2.5**

In [58]:
np.mean(clotheswasher_df.loc[clotheswasher_df['Energy_Rating'] < 2.5]['Cold_Energy_Consumption'])

120.31818181818181

In [59]:
np.mean(clotheswasher_df.loc[clotheswasher_df['Energy_Rating'] < 2.5]['Heat_Energy_Consumption'])

582.7272727272727

**Clothes Dryer**  
**Low** - Below 4  
**Medium** - 4 to 7  
**Best - Super Efficient Ratings** - Above 7

In [60]:
clothes_dryer_df.columns

Index(['Brand', 'Manufacturing_Country', 'Model_No', 'Energy_Rating',
       'Selling_Countries', 'Type', 'Energy_Consumption',
       'Appliance_Category'],
      dtype='object')

In [61]:
print('Maximum Energy Rating : ', clothes_dryer_df.Energy_Rating.max())
print('Minimum Energy Rating : ', clothes_dryer_df.Energy_Rating.min())

Maximum Energy Rating :  10.0
Minimum Energy Rating :  1.0

In [62]:
clothes_dryer_df.dtypes

Brand                     object
Manufacturing_Country     object
Model_No                  object
Energy_Rating            float64
Selling_Countries         object
Type                      object
Energy_Consumption         int64
Appliance_Category        object
dtype: object

**Get the mean of energy consumption for the appliances**

In [63]:
np.mean(clothes_dryer_df.loc[clothes_dryer_df['Energy_Rating'] >= 7]['Energy_Consumption'])

135.2078651685393

In [64]:
np.mean(clothes_dryer_df.loc[(clothes_dryer_df['Energy_Rating'] >= 4) & 
                             (clothes_dryer_df['Energy_Rating'] < 7)]['Energy_Consumption'])

154.33333333333334

In [65]:
np.mean(clothes_dryer_df.loc[clothes_dryer_df['Energy_Rating'] < 4]['Energy_Consumption'])

273.48985507246374

**Dishwahser**  
**Low** - 1 to 3  
**Medium** - 3 to 5  
**Best** - 5 to 6

In [66]:
dishwasher_df.columns

Index(['Brand', 'Manufacturing_Country', 'Model_No', 'Energy_Rating',
       'Selling_Countries', 'Type', 'Energy_Consumption',
       'Appliance_Category'],
      dtype='object')

In [67]:
print('Maximum Energy Rating : ', dishwasher_df.Energy_Rating.max())
print('Minimum Energy Rating : ', dishwasher_df.Energy_Rating.min())

Maximum Energy Rating :  6.0
Minimum Energy Rating :  1.0

In [68]:
dishwasher_df.dtypes

Brand                     object
Manufacturing_Country     object
Model_No                  object
Energy_Rating            float64
Selling_Countries         object
Type                      object
Energy_Consumption         int64
Appliance_Category        object
dtype: object

**Get the mean of energy consumption for the appliances**

In [69]:
np.mean(dishwasher_df.loc[dishwasher_df['Energy_Rating'] >= 5]['Energy_Consumption'])

111.0

In [70]:
np.mean(dishwasher_df.loc[(dishwasher_df['Energy_Rating'] >= 3) & 
                          (dishwasher_df['Energy_Rating'] < 5)]['Energy_Consumption'])

253.81110190555094

In [71]:
np.mean(dishwasher_df.loc[dishwasher_df['Energy_Rating'] < 3]['Energy_Consumption'])

287.0483870967742

**Refrigerator**  
**Low -** Below 3  
**Medium -** 3 to 6  
**High -** Above 6

In [72]:
refrigerator_df.columns

Index(['Brand', 'Manufacturing_Country', 'Model_No', 'Type', 'Energy_Rating',
       'Selling_Countries', 'Energy_Consumption', 'Appliance_Category'],
      dtype='object')

In [73]:
print('Maximum Energy Rating : ', refrigerator_df.Energy_Rating.max())
print('Minimum Energy Rating : ', refrigerator_df.Energy_Rating.min())

Maximum Energy Rating :  7.0
Minimum Energy Rating :  1.0

In [74]:
refrigerator_df.dtypes

Brand                     object
Manufacturing_Country     object
Model_No                  object
Type                      object
Energy_Rating            float64
Selling_Countries         object
Energy_Consumption         int64
Appliance_Category        object
dtype: object

**Get the mean of energy consumption for the appliances**

In [75]:
np.mean(refrigerator_df.loc[refrigerator_df['Energy_Rating'] >= 6]['Energy_Consumption'])

218.0

In [76]:
np.mean(refrigerator_df.loc[(refrigerator_df['Energy_Rating'] >= 3) &
                           (refrigerator_df['Energy_Rating'] < 6)]['Energy_Consumption'])

323.9513491414554

In [77]:
np.mean(refrigerator_df.loc[refrigerator_df['Energy_Rating'] < 3]['Energy_Consumption'])

390.86904005085825

**Television**  
**Low -** Below 3  
**Medium -** 3 to 6  
**High -** Above 6

In [78]:
television_df.columns

Index(['Brand', 'Model_No', 'Selling_Countries', 'Manufacturing_Country',
       'Type', 'Energy_Rating', 'Energy_Consumption', 'Appliance_Category'],
      dtype='object')

In [79]:
print('Maximum Energy Rating : ', television_df.Energy_Rating.max())
print('Minimum Energy Rating : ', television_df.Energy_Rating.min())

Maximum Energy Rating :  7.0
Minimum Energy Rating :  1.0

In [80]:
television_df.dtypes

Brand                     object
Model_No                  object
Selling_Countries         object
Manufacturing_Country     object
Type                      object
Energy_Rating            float64
Energy_Consumption       float64
Appliance_Category        object
dtype: object

**Get the mean of energy consumption for the appliances**

In [81]:
np.mean(television_df.loc[television_df['Energy_Rating'] >= 6]['Energy_Consumption'])

222.99811676082862

In [82]:
np.mean(television_df.loc[(television_df['Energy_Rating'] >= 3) &
                           (television_df['Energy_Rating'] < 6)]['Energy_Consumption'])

393.00523725834796

In [83]:
np.mean(television_df.loc[television_df['Energy_Rating'] < 3]['Energy_Consumption'])

897.957627118644

**Air-Conditioner**  
**Low** - Below 3.5   
**Medium** - 3.5 to 4.5   
**Best** - Above 4.5

In [84]:
air_conditioner_df.columns

Index(['Model_No', 'Brand', 'Manufacturing_Country', 'Selling_Countries',
       'Type', 'Energy_Rating', 'Heating Power KW', 'Cooling Power KW',
       'Appliance_Category'],
      dtype='object')

In [85]:
print('Maximum Energy Rating : ', air_conditioner_df.Energy_Rating.max())
print('Minimum Energy Rating : ', air_conditioner_df.Energy_Rating.min())

Maximum Energy Rating :  5.848
Minimum Energy Rating :  2.78

In [86]:
air_conditioner_df.dtypes

Model_No                  object
Brand                     object
Manufacturing_Country     object
Selling_Countries         object
Type                      object
Energy_Rating            float64
Heating Power KW          object
Cooling Power KW          object
Appliance_Category        object
dtype: object

In [87]:
# Changing the datatype of Cold_Energy_Consumption and Heat_Energy_consumption from Object to Float
air_conditioner_df['Heating Power KW'] = air_conditioner_df['Heating Power KW'].astype(float)

air_conditioner_df['Cooling Power KW'] = air_conditioner_df['Cooling Power KW'].astype(float)

**Get the mean of energy consumption for the appliances**  

Calculating the energy consumption based on the Heating Power KW and Cooling Power KW  for 365 year. Assuming, the average air conditioner usage is 2 hrs daily.

In [88]:
np.mean(air_conditioner_df.loc[air_conditioner_df['Energy_Rating'] >= 4.5]['Heating Power KW'] * 2 * 365)

743.8151445086704

In [89]:
np.mean(air_conditioner_df.loc[air_conditioner_df['Energy_Rating'] >= 4.5]['Cooling Power KW'] * 2 * 365)

5000.786936416185

In [90]:
np.mean(air_conditioner_df.loc[air_conditioner_df['Energy_Rating'] < 3.5]['Heating Power KW'] * 2 * 365)

3357.4024978392395

In [91]:
np.mean(air_conditioner_df.loc[air_conditioner_df['Energy_Rating'] < 3.5]['Cooling Power KW'] * 2 * 365)

5540.635643906655

In [92]:
np.mean(air_conditioner_df.loc[(air_conditioner_df['Energy_Rating'] >= 3.5) &
                           (air_conditioner_df['Energy_Rating'] < 4.5)]['Heating Power KW'] * 2 * 365)

2535.265170068027

In [93]:
np.mean(air_conditioner_df.loc[(air_conditioner_df['Energy_Rating'] >= 3.5) &
                           (air_conditioner_df['Energy_Rating'] < 4.5)]['Cooling Power KW'] * 2 * 365)

10078.50556851312

**Calculating the average of heating and cooling energy consumption for air-conditioner**

In [94]:
# Mean for energy rating below 3.5
np.mean([5540.64, 3357.40])

4449.02

In [95]:
# Mean for energy rating between 3.5 and 4.5
np.mean([10078.50, 2535.36])

6306.93

In [96]:
# Mean for energy rating greater than 4.5
np.mean([5000.786, 743.82])

2872.303

**Clothes Washer**

In [97]:
# Mean for energy rating below 2.5
np.mean([167.30, 332.90])

250.1

In [98]:
# Mean for energy rating between 2.4 to 4
np.mean([105.70,484.202])

294.951

In [99]:
# Mean for energy rating greater than 4
np.mean([120.31, 582.72])

351.515

In [100]:
# Converting all the calculated data as a separate list for converting them to a csv file.

appliance_category = ['Air Conditioner','Air Conditioner','Air Conditioner', 'Clothes Washer', 'Clothes Washer', 
                      'Clothes Washer','Clothes Dryer', 'Clothes Dryer', 'Clothes Dryer', 'Dishwasher', 'Dishwasher',
                     'Dishwasher', 'Refrigerator', 'Refrigerator', 'Refrigerator', 'Television', 'Television',
                     'Television']
ratings_category = ['Below 3.5', '3.5 to 4.5', 'Above 4.5','Below 2.5', '2.5 to 4', 'Above 4','Below 4', 
                    '4 to 7','Above 7', 'Below 3', '3 to 5',
                    'Above 5', 'Below 3', '3 to 6', 'Above 6', 'Below 3', '3 to 6','Above 6']
# Avg_cold_energy_consumption = [5540.64, 10078.50, 5000.786, 167.30, 105.70, 120.31, 0, 0, 0, 0, 0, 0, 0, 0, 
#                                0, 0, 0, 0]
# Avg_heat_energy_consumption = [3357.40,2535.36, 743.82, 332.90, 484.202, 582.72, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Avg_energy_consumption = [4449.02, 6306.93, 2872.303, 250.1, 294.95, 351.52, 273.5, 154.3, 135.20, 287.05, 253.81, 111.0, 390.87, 323.95, 218.0, 897.957,
                         393.0, 223]

In [101]:
# Initialising a dictionary to create a Dataframe
data = {'Appliance_category': appliance_category, 'Ratings_category': ratings_category,
'Avg_energy_consumption': Avg_energy_consumption}

In [102]:
# Creating a dataframe
energy_consumption_df = pd.DataFrame.from_dict(data)

In [103]:
energy_consumption_df

   Appliance_category Ratings_category  Avg_energy_consumption
0     Air Conditioner        Below 3.5                4449.020
1     Air Conditioner       3.5 to 4.5                6306.930
2     Air Conditioner        Above 4.5                2872.303
3      Clothes Washer        Below 2.5                 250.100
4      Clothes Washer         2.5 to 4                 294.950
5      Clothes Washer          Above 4                 351.520
6       Clothes Dryer          Below 4                 273.500
7       Clothes Dryer           4 to 7                 154.300
8       Clothes Dryer          Above 7                 135.200
9          Dishwasher          Below 3                 287.050
10         Dishwasher           3 to 5                 253.810
11         Dishwasher          Above 5                 111.000
12       Refrigerator          Below 3                 390.870
13       Refrigerator           3 to 6                 323.950
14       Refrigerator          Above 6                 218.000
15         Television          Below 3                 897.957
16         Television           3 to 6                 393.000
17         Television          Above 6                 223.000

In [104]:
# Converting the energy_consumption dataframe to a csv file
energy_consumption_df.to_csv('energy_consumption.csv', index=False)